
.banner1-section{
    padding: 2.5rem 2rem;
    width: 100%; 
    background-image: url('../Assets/IMG12.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}


  
.banner1-container {
    display: flex;
    background: none;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
  }
  
  .social-links {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 5%;
    gap: 0.8rem;
  }
  
  .social-icon img {
    width: 1.2rem;
  }
  
  .vertical-divider {
    width: 0.1rem;
    height: 100px;
    background: linear-gradient(180deg, #ff7d16, transparent);
  }
  
  .content-section {
    flex: 0 0 45%;
    text-align: left;
  }
  
  .subheading {
    color: var(--color-orange-54, #ff7d16);
    text-align: left;
    font-family: 'PlusJakartaSans-Regular', sans-serif;
    font-size: var(--width-64, 2.8rem);
    line-height: var(--width-64, 4rem);
    font-weight: var(--font-weight-400, 400);
    position: relative;
    align-self: stretch;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
  }
  
  .main-heading {
    color: var(--color-orange-84, #e9dbc5);
    font-family: 'PlusJakartaSans-SemiBold', sans-serif;
    font-size: var(--font-size-subheading, 3.8rem);
    line-height: var(--line-height-subheading,4.8rem);
    font-weight: var(--font-weight-600, 600);
    text-align: left;
    display: flex;
    align-items: center;
    margin: 0;
  }
  
  .horizontal-divider {
    width: 100%;
    height: 0.1rem;
    margin: 1rem 0;
    background: linear-gradient(
      90deg,
      rgba(77, 29, 45, 0) 0%,    /* Fully transparent at start */
      rgb(77, 29, 45) 20%,       /* Solid color in the middle */
      rgb(77, 29, 45) 80%,       /* Solid color continues */
      rgba(77, 29, 45, 0) 100%   /* Fully transparent at end */
    );
  }
  
  .description {
    color: #b4b4b4;
    font-size: 0.9rem;
    width: 80%;
  }
  
  .learn-more-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: linear-gradient(42.22deg, #f73232, #ff7d16);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: white;
    cursor: pointer;
  }
  
  .form-container {
    background: #242122;
    padding: 3rem 2rem;
    border-radius: 0.75rem;
    text-align: center;
    flex: 0 0 25%;
  }
  
  .form-title {
    background: linear-gradient(42.22deg, #f73232, #ff7d16);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
    margin: 0;
  }
  
  .input-field {
    background: #1e1b1b;
    padding:0.7rem 1rem;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    color: #fff;
    opacity: 0.5;
    text-align: left;
  }
  
  .submit-btn {
    background: linear-gradient(42.22deg, #f73232, #ff7d16);
    padding:0.6rem 2rem;
    border-radius: 0.5rem;
    color: white;
    cursor: pointer;
  }
  