/* Container Styles */
.cyber-stats-container {
    padding: 5rem 8rem;
    display: flex;
    align-items: stretch;  /* Ensures both cards stretch to the same height */
    justify-content: space-between;
    gap: 2rem; /* Adds spacing between cards */
}

/* Card Styles */
.card-primary, .card-secondary {
    flex: 1;  /* Ensures both cards take equal width */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers content */
    align-items: center;
    padding: 1.75rem;
    border-radius: 0.75rem;
    position: relative;
    min-height: 14.25rem;  /* Ensures a minimum height */
}

/* Primary Card */
.card-primary {
    background: linear-gradient(to left, rgba(36, 33, 34, 0.8), rgba(36, 33, 34, 0.8));
    background-image: url('../Assets/FiftyPercentBackgroundSvg1.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Secondary Card */
.card-secondary {
    background: linear-gradient(to left, rgba(36, 33, 34, 0.7), rgba(36, 33, 34, 0.7));
    background-image: url('../Assets/OptimizePerformanceBackgroundSvg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .cyber-stats-container {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .card-primary, .card-secondary {
        width: 100%;
        min-height: 20rem;
    }
}
