.header {
  padding: 1rem 14%;
  background: #010101;
  font-family: "Poppins-Medium", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header-logo {
  width: clamp(0.1rem,3.6vw,30rem);
  height: auto;
  object-fit: cover;
}

.nav {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav-link {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: clamp(0.1rem,1.1vw,20rem);
}

.nav-link:hover {
  color:  #57e7f5;;
  padding: 0.5rem 0.1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 10px #57e7f5;;
}

.auth-buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.login {
  color: white;
  background-color: transparent;
  border: 2px solid #57e7f5;
  padding: 0.5rem 1rem;
  font-size: clamp(0.2rem,1vw,23rem);
  cursor: pointer;
  border-radius: 0.7rem; 
}

.join {
  background: #57e7f5;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
  font-size: clamp(0.1rem,1vw,20rem);
}

.join:hover {
  color:  #57e7f5;
  background: transparent;
  border: 2px solid  #57e7f5; 
}
.login:hover{
  background: #57e7f5;
}


/* Footer.css */
.footer {
  background: radial-gradient(50% 50% at 50% 50%, rgb(30, 30, 30) 0%, rgb(18, 18, 18) 100%);
  color: white;
  padding: clamp(2rem, 4vw, 5rem) clamp(4rem, 8vw, 10rem);
  text-align: center;
}

.footer-sections {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* gap: clamp(1.5rem, 3vw, 29.5rem); */
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: clamp(0.75rem, 2vw, 1rem);
}

.footer-title {
  font-size: clamp(0.2rem, 1.4vw, 41rem);
  text-align: left;
  font-family: "Outfit-Medium", sans-serif;
  font-weight: 600;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: clamp(0.5rem, 1vw, 0.75rem);
  text-align: left;
}

.footer-link {
  color: #bbb;
  font-size: clamp(0.1rem, 1.19vw, 41rem);
  cursor: pointer;
  transition: color 0.3s;
  text-align: left;
  font-family: "Outfit-Regular", sans-serif;
  font-weight: 400;
}

.footer-link:hover {
  color: white;
}

.footer-bottom {
  margin-top: clamp(2rem, 5vw, 3rem);
  padding-top: clamp(1rem, 3vw, 1.5rem);
  border-top: 1px solid #444;
  font-size: clamp(0.875rem, 2vw, 1rem);
}
.copyrights-text{
  margin: 0;
  color: var(--white-1, #ffffff);
  text-align: center;
  font-family: "Manrope-Regular", sans-serif;
  font-size: clamp(0.4rem,1.2vw,20rem);
  line-height: 20px;
  font-weight: 400;
  position: relative;
}

/* Responsive Styles */
@media (min-width: 1800px) and (max-width: 2560px) {
  .header{
    padding: 0.5125rem 13%;
  }
}

@media (min-width: 2561px) {
  
}
