   /* Container for the entire section */
.testimonial-section{
  padding: clamp(0.2rem,1vw,20rem) clamp(0.2rem,6vw,20rem);
  margin-top: 2%;
  margin-bottom: 2%;
}

.testimonial-title{
    background: linear-gradient(
    96.45deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: clamp(1rem,3vw,30rem);
    font-weight: 600;
    position: relative;
    padding: 2rem 2rem;
}
  
.testimonial-slider-container{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    /* transition:0.5s ease-in-out; */
  padding: 0rem clamp(0.2rem,8vw,20rem);
}
  .max-w-3xl {
    max-width: 800px;
  }
  
  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  
  .text-center {
    text-align: center;
  }
  
  /* Button styles */
   .flex {
    display: flex;
  }
  .testimonials-control-buttons{
    display: flex;
    justify-content: center;
  }

  .testimonials-control-buttons .testimonials-right-btn {
    padding: 0.8rem 0.5rem;
    border: none;
    background: transparent;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  .testimonials-control-buttons .testimonials-right-btn:disabled {
    background: gray;
    cursor: not-allowed;
  }

  .testimonials-control-buttons .testimonials-left-btn {
    padding: 0.8rem 0.5rem;
    border: none;
    background: transparent;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  .testimonials-control-buttons .testimonials-left-btn:disabled {
    background: gray;
    cursor: not-allowed;
  }
  
  /* Wrapper for testimonials */
  .overflow-hidden {
    overflow: hidden;
  }
  
  .relative {
    position: relative;
  }
  
  /* Testimonial Card */
  .testimonial-card {
    display: flex;
    align-items: center;
    width: 49%;
    background: #434343;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0 0.5%;
    transition: 0.5s ease-in-out;
  }
  
  /* Image section */
  .testimonial-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .testimonial-image img {
    /* width: 80px;
    height: 80px; */
    width: clamp(1rem,8vw,30rem);
    border-radius: 5%;
    object-fit: cover;
  }
  
  /* Content section */
  .testimonial-content {
    flex: 2;
    text-align: left;
    padding-left: 15px;
  }
  
  .testimonial-content h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .testimonial-role {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
  }
  
  .testimonial-feedback {
    font-size: 14px;
    font-style: italic;
    color: #e5e5e5;
  }
  