
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:  #161414;
  /* min-width: 100vw; */
  /* width: 100vw; */
  min-height: 100vh;
  color: white;
  overflow-x: hidden;
  
}


