.controll-buttons{
    padding: 2% 2%;
    display: flex;
    justify-content: space-around;
    font-family: "Poppins-Regular", sans-serif;
  }
  
  .slider-container {
    width: 100%;
    max-width: 80%;
    margin: auto;
    text-align: center;
    position: relative;
  }
  
  .slider-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .slider-wrapper {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    justify-content: center;
  }
  
  .card {
    display: flex;
    flex: 0 0 40%;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    background-color: rgb(48, 48, 48);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .card-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card-image img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  
  .card-content {
    flex: 2;
    text-align: left;
  }
  
  .card-content h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .card-role {
    font-size: 14px;
    color: #555;
    margin: 5px 0;
  }
  
  .card-feedback {
    font-size: 14px;
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  }
  
  .dots-container {
    margin-top: 10px;
  }
  
  .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
    background-color: #333;
    border-radius: 50%;
  }
  
  .dot.active {
    background-color: #ccc;
  }
  
  @media (max-width: 768px) {
    .card {
      flex-direction: column;
      text-align: center;
    }
  
    .card-image {
      margin-bottom: 10px;
    }
  
    .prev-button,
    .next-button {
      padding: 8px;
    }
  }
  